<title>{{ .Title }}</title>
<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

<!-- Bootstrap -->
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">

<!-- Icons -->
<script src="https://kit.fontawesome.com/575930b510.js" crossorigin="anonymous"></script>

<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">

{{ $styles := resources.Get "css/styles.css" }}
{{ $css := $styles | resources.Minify }}
<link rel="stylesheet" href="{{ $css.Permalink }}">

<!-- Share this -->
{{ if .Site.Params.customsharethis }}
<script type="text/javascript"
	src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
{{ end }}